<div class='country'>
    <img class="country__flag" width='200' height='150' src={{this.flags.svg}} alt='country flag' />
    <h1 class="country__name">{{this.name.official}}</h1>
    <div class='country__description'>
        <p><b>Capital: </b> {{this.capital}}</p>
        <p><b>Population: </b> {{this.population}}</p>
        <p><b>Languages: </b> {{this.languages
}}</p>
    </div>
</div>